@import "tailwindcss";

@theme {
  --color-slate-850: #151e2e;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;

  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;

  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: #0f172a;
  color: #f8fafc;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b; 
}
::-webkit-scrollbar-thumb {
  background: #475569; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b; 
}
